* {
 margin: 0;
 padding: 0;
 outline:0;
}

body {
font-size: 12px;
line-height: 20px;
font-family: 'Oswald', sans-serif;
color: #333;
background: url() repeat 0 0;
}

.content-wrap {
padding: 30px 90px 75px 90px;
border: 1px solid #e8e8e8;
border-radius: 10px;
background: #fff;
position: relative;
text-align: center;
}

.content-wrap div{
display: flex;
flex-direction: column;
margin: 15px 0;
}

h1 {
margin-bottom: 30px;
font-size: 35px;
}

label{
font-size: 15px;
padding: 10px 0;
}

input {
height: 40px;
width: 200px;
border-radius: 10px;
}

button {
height: 40px;
width: 200px;
border-radius: 10px;
background-color: #3ec928;
color: #d8fcd2;
border: none;
margin-top: 20px;

}

.shell {
width: 600px;
height: 100%;
margin: 0 auto;
display: flex;
justify-content: center;
align-items: center;
}

.login {
margin-bottom: 15px;
}