* { margin: 0; padding: 0; outline:0; }

body {
    font-size: 12px;
    line-height: 20px;
    font-family: 'Oswald', sans-serif;
    color: #333;
    background: url() repeat 0 0;
}

a {
color: #ff0000;
text-decoration: none;
cursor:pointer;
 }
a:hover {
text-decoration: underline;
}

a img {
border: 0; }

input, textarea, select { font-family: 'Oswald', sans-serif; font-size:12px; }
textarea { overflow:auto; }

.cl { display: block; height: 0; font-size: 0; line-height: 0; text-indent: -4000px; clear: both; }
.notext { font-size: 0; line-height: 0; text-indent: -4000px; }

.left, .alignleft { float: left; display: inline; }
.right, .alignright { float: right; display: inline; }


.shell { width: 980px; margin: 0 auto; }
.border { border: 1px solid #e8e8e8; background: #fff; position: relative; }


#navigation {
height: 43px;
border-top: 1px solid #dbdbdb;
border-bottom: 1px solid #dbdbdb;
display: flex;
flex-direction: row;
justify-content: space-between;
}
#navigation ul {
display: flex;
flex-direction: row;
list-style: none;
}
#navigation ul li {
display: flex;
flex-direction: row;
height: 43px;
border: 1px solid #dbdbdb;
border-radius: 3px;
font-size: 12px; line-height: 43px;
font-weight: bold;
text-transform: uppercase;
}

#navigation ul li a { float: left; height: 43px; color: #000; padding: 0 33px; }
#navigation ul li a:hover, 
#navigation ul li a.active { color: #ff0000; text-decoration: none; }


#main { width: 932px; padding: 37px 24px 17px 24px; }
#main h3 { font-size: 20px; line-height: 15px; color: #000; text-transform: uppercase; border-bottom: 1px solid #dbdbdb; padding: 0 0 9px 0; }
#main a.more:hover { text-decoration: none; }

#content { width: 905px; }

.highlight {  }
.highlight h3 { margin: 0 0 9px 0; }
.highlight p { padding: 0 0 11px 0; }
.highlight img { margin: 4px 12px 0 12px; }

.projects { padding: 10px 0 0 0; }
.projects h3 { margin: 0 0 17px 0; }
.projects .item { margin: 0 0 28px 0; }
.projects .image left { width: 300px; height: 111px; border: 0px solid #dbdbdb; padding: 2px; margin: 0 40px 0 3px; }
.projects .text { width: 600px; }
.projects .text h4 { font-size: 20px; line-height: 15px; color: #333; text-transform: uppercase; padding: 3px 0 2px 0; }
.projects .text p {
padding: 0 0 3px 0;
}
.projects .item{
display: flex;
gap: 15px}
.post-page-text {
line-height: 1.35em;
margin-top: 20px;
font-size: 18px;
}
.likes-dislikes{
font-size: 16px;
margin-bottom: 15px;
}

.image {
width: 200px
}

.btn-buy:hover { text-decoration: none; }

.advertisement { padding: 0 0 13px 0; }
.advertisement h3 { margin: 0 0 18px 0; }
.advertisement .ads { padding: 0 15px 0 7px; }
.advertisement .ad { margin: 0 0 18px 0; }



#footer { font-family: Arial, sans-serif; font-size: 11px; line-height: 14px; color: #7f7f7f; padding: 18px 27px 20px 38px; }
#footer a{ color: #7f7f7f; }


.form-comment{
    margin-top: 10px;
    font-size: 18px;
}
.form-comment label{
    margin: 15px 10px;
}
.form-comment input{
    border-radius: 15px;
    padding: 15px;
    margin: 10px;
    height: 50px;
    width: 250px;
}

.form-comment textarea{
    border-radius: 15px;
    padding: 15px;
    width: 100%;
    height: 150px;
    padding: 15px;
    margin-top: 10px;
}

.form-comment div{
    margin: 10px;
}

.view-comment {
    padding: 10px;
    margin: 10px;
    font-size: 18px;
    border-radius: 15px;
}
