{% load static %}
<html >
<head>
	<title>Мой блог</title>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all" />

	<link rel="shortcut icon" href="css/images/favicon.ico" />
	<meta http-equiv="cache-control" content="max-age=0" />
	<meta http-equiv="cache-control" content="no-cache" />
	<meta http-equiv="expires" content="0" />
	<meta http-equiv="pragma" content="no-cache" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
<div class="shell">
	<div class="border">

		<div id="navigation">
			<ul>
			    <li><a href="/" class="active">Главная</a></li>
			    <li><a href="/admin">Админ панель</a></li>

			</ul>
		</div>

		<div id="main">
			<div id="content" class="left">

				<div class="projects">
					<h3>{{ post.title }}</h3>
                    <p align="center">
                        <img src =" {{ post.image.url }}" width="100%"/>
                    </p>
					<div class="item">
						<div class="post-page-text">
							<p  text-align="center" font-size="30px"> {{ post.description }}</p>
							<p>Автор: {{ post.author }} </p>
						</div>
						<div class="cl">&nbsp;</div>
					</div>
				</div>
			</div>
			<div class="likes-dislikes">
				<br>
				<p>Понравилось: {{ post.likes_set.all.count }}</p>
				<br>
				<a href="{% url 'add_like' post.id %}">Нравится</a>
				<a href="{% url 'del_like' post.id %}">Не нравится</a>
			</div>
			<div class="form-comment">
				<h3>Оставить комментарий</h3>
				<div>
					<form action="{% url 'add_comments' post.id %}" method="post">
						{% csrf_token %}
						<div>
							<label>Ваш комментарий</label>
							<textarea  name="text_comments"></textarea>
						</div>
						<div>
							<label>Ваше имя</label>
							<input type="text" name="name">
						</div>
						<div>
							<label>Ваш email</label>
							<input type="email" name="email">
						</div>
						<div>
							<input type="submit">
						</div>
					</form>
				</div>
			</div>
			<div>
				{% for comment in post.comments_set.all %}
				<div class="view-comment">
					<h4>{{ comment.name }}</h4>
					<p>
						{{ comment.text_comments }}
					</p>
				</div>
				{% endfor %}
			</div>
			<div class="cl">&nbsp;</div>
		</div>


	</div>

	<div id="footer">
		<p class="copy right">Copyright &copy;  2023 </p>
	</div>
</div>
</body>
</html>